[submodule "ceng489-pa1"]
	path = ceng489-pa1
	url = https://github.com/tansly/ceng489-pa1
[submodule "synflood"]
	path = synflood
	url = https://github.com/tansly/synflood
[submodule "simplepf"]
	path = simplepf
	url = git@github.com:tansly/simplepf.git
