[submodule "ceng489-pa1"]
	path = ceng489-pa1
	url = https://github.com/tansly/ceng489-pa1
[submodule "ceng489-pa2"]
	path = ceng489-pa2
	url = https://github.com/tansly/ceng489-pa2
[submodule "ceng489-hw3"]
	path = ceng489-hw3
	url = git@github.com:tansly/ceng489-hw3.git
